spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/jobmatch
    username: jobmatch
    password: jobmatch
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080